body {
  height: 100vh;
  width: 100vw;
}
@media (min-width: 768px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  #root {
    height: 100%;
  }
  .App {
    height: 100%;
  }
  main {
    display: flex;
    justify-content: center;
  }
  .formAndTotal {
    width: 40%;
  }
  .lista_Container {
    width: 50%;
    max-height: 80vh;
    height: 80vh;
  }
  ul {
    margin-top: 0px;
  }
  .cardEntrada {
    width: 100%;
    height: 87px;
    position: relative;
    min-height: 87px;
  }
  .cardDespesa {
    width: 100%;
    height: 87px;
    position: relative;
    min-height: 87px;
  }
  .lixeira_Container {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  .cardValue {
    position: absolute;
    top: 8px;
    right: 80px;
  }
  .resumo {
    margin-bottom: 35px;
  }
  .example {
    min-height: 90px;
    margin-bottom: 30px;
  }
  .type {
    width: auto;
  }
}
@media (min-width: 960px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  #root {
    height: 100%;
  }
  .App {
    height: 100%;
  }
  main {
    display: flex;
    justify-content: center;
  }
  .formAndTotal {
    width: 40%;
  }
  .lista_Container {
    width: 50%;
    max-height: 80vh;
    height: 80vh;
  }
  ul {
    margin-top: 0px;
  }
  .cardEntrada {
    width: 100%;
    height: 87px;
    position: relative;
    min-height: 87px;
  }
  .cardDespesa {
    width: 100%;
    height: 87px;
    position: relative;
    min-height: 87px;
  }
  .lixeira_Container {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  .cardValue {
    position: absolute;
    top: 8px;
    right: 80px;
  }
  .resumo {
    margin-bottom: 35px;
  }
  .example {
    min-height: 90px;
    margin-bottom: 30px;
  }
  .type {
    width: 145px;
  }
}
