:root {
  --Color-white: #ffffff;
  --Color-primary: #fd377e;
  --Color-primary-02: #e34981;
  --Color-secondary: #03b898;
  --Grey-04: #212529;
  --Grey-03: #868e96;
  --Grey-02: #e9ecef;
  --Grey-01: #f8f9fa;
}
